.header {
	position: relative;
	margin: 20px 0px 0px 20px;
}
.name {
	z-index: 0;
	display: inline-block;
	position: relative;

	border-style: solid;
	border-radius: 30px;
	border-width: 2px;

	margin: 0px 0px 0px -60px;
	padding: 20px 20px 20px 60px;
	bottom: 55px;

	background-color: gold;
}
.img_perfil {
	z-index: 2;
	position: relative;

	border-style: solid;
	border-radius: 60px;
	border-width: 2px;

	margin: 0px 0px 0px -30px;
}
.img_menu {
	z-index: 1;
	position: relative;

	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
}
.h2_b1 {
	margin: 0px 0px 15px 0px;
	display: inline-block;	
}
.texto1 {
	display: block;
	position: relative;
	margin: 0px 0px 0px 0px;
}
.subbloco1 {
	background-color: white;
	border-radius: 30px;
	margin: 0px 20px 0px 20px;
	padding: 20px;
}
.tela {
	position: relative;
	width: 2030px;
	background-color: gold;
}
.bloco1 {
	border-style: solid;
	position: relative;
	border-width: 2px;
	left: 3px;
	top: 5px;
	width: 945px;
	height: 960px;
	background-color: grey;
}
.bloco2 {
	border-style: solid;
	position: relative;
	display: inline-block;
	border-width: 2px;
	left: 950px;
	bottom: 959px;
	width: 945px;
	height: 960px;
	background-color: grey;
}
.contatos {
	border-style: solid;
	position: relative;
	border-width: 2px;
	bottom: 1000px;
	width: 1899px;
	height: 50px;
	background-color: red;
	padding: 5px 0px 0px 0px;
}
.contatos_text {
	position: relative;
	left: 450px;
}
.video {
	border-style: solid;
	border-width: 5px;
	margin: 20px 0px 10px 30px;
}
.categorias {
	background-color: white;
	position: relative;
	border-radius: 70px;
	margin: 20px;
}
.projetos {
	background-color: white;
	position: relative;
	border-radius: 70px;
	margin: 20px;
	width: 900px;
}
.h2_b2 {
	background-color: white;
	padding: 10px 0px 10px 400px ;
	margin: 20px;
}
.img_cat {
	position: relative;
	border-radius: 70px;
	border-style: solid;
	border-width: 8px;
	border-color: gold;
	top: 1px;
	left: 1px;
}
.titulo_cat {
	display: inline-block;
	position: relative;
	bottom: 100px;
	left: 6px;
}
.texto_cat {
	display: inline-block;
	position: relative;
	right: 40px;
	bottom: 10px;
	width: 700px;
}
.texto_cat_alter {
	display: inline-block;
	position: relative;
	right: 20px;
	left: 40px;
	bottom: 10px;
	width: 700px;
}

CATEGORIA 


}
.Cat {
	margin: 0px 0px 20px 50px;
	display: inline-block;	
	background-color: gold;
}

.Texto_cat {
	display: block;
	position: relative;
	display: inline;
	padding: 10px;
	bottom: 170px;
	border-style: solid;
	border-width: 2px;
	background-color: blue;	
	left: 100px;
}

.Img_cat {

	position: relative;
	border-style: solid;
	border-radius: 60px;
	border-width: 2px;

	margin: 50px 0px 100px 100px;
}

.texto_2 {
	display: block;
	position: relative;
	margin: 0px 20px 20px 50px;
	left : 50px;
	width: 800px;
	border-style: solid;
	border-width: 2px;		
}

.blocoimg1_img {
	position: relative;
	top: 50px;
	background-color: gold;
	margin: 10px;
}

.blocoimg1_link {
	border-style: solid;
	position: relative;
	background-color: gold;
	bottom: 180px;
	margin: 50px;
	right: 250px;
}

.blocoimg1_txt{
	position: relative;
	background-color: gold;
	border-style: solid;
	bottom: 100px;
	left: 230px;
	border-width: 2px;
	width: 150px;

}

.blocoimg2_img{
	position:relative;
	bottom: 200px;
	left: 450px;
}

.blocoimg2_link{
	border-style: solid;
	border-width: 2px;
	position: relative;
	background-color: gold;
	bottom: 420px;
	left:250px;
}

.blocoimg2_txt{
	border-style: solid;
	border-width: 2px;
	position: relative;
	background-color: gold;
	left: 670px;
	bottom: 320px;
	width: 150px;

}

.blocoimg3_img{
	position: relative;
	top: 0px;
	left: 10px ;
}

.blocoimg3_link{
	position: relative;
	border-style: solid;
	border-width: 2px;
	bottom: 230px;
	left:-150px;

}
.blocoimg3_txt{
	position: relative;
	border-style: solid;
	border-width: 2px;
	left: 230px;
	bottom: 130px;
	width: 150px

}