/* INDEX */

.tela {
	display: grid;
	grid-template: auto / 25% 25% 25% 25%;
	background-color: gold;
	grid-template-areas:
	"header . bloco2 bloco2"
	"texto1 . bloco2 bloco2"
	"texto texto bloco2 bloco2"
	"texto texto bloco2 bloco2"
	"imagem imagem bloco2 bloco2"
	"contato . . .";
}
.header {
	grid-area: header;
}
.img_menu {
	z-index: 1;
	border-style: solid;
	border-radius: 2rem;
	border-width: 0.1rem;
}
.img_perfil {
	z-index: 2;
	border-style: solid;
	border-radius: 4rem;
	border-width: 0.1rem;
}
.name {
	z-index: 0;
	border-style: solid;
	border-radius: 2rem;
	border-width: 0.1rem;
	background-color: white;
}
.texto1 {
	background-color: white;
	grid-area: texto1;
}
.texto {
	background-color: white;
	grid-area: texto;
}
.imagem {
	grid-area: imagem;
}
.contato {
	grid-area: contato;
}
.cat1 {
	grid-area: cat1;
	border-radius: 4.6rem;
	border-style: solid;
	border-width: 0.01rem;
}
.cat2 {
	grid-area: cat2;
	border-radius: 4.6rem;
	border-style: solid;
	border-width: 0.01rem;
}
.cat3 {
	grid-area: cat3;
	border-radius: 4.6rem;
	border-style: solid;
	border-width: 0.01rem;
}

.titulo {
	grid-area: titulo;
	display: flex;
	justify-content: center;
}
.img_cat {
	border-radius: 4.6rem;
	border-style: solid;
	border-width: 0.53rem;
	border-color: gold;
}
.bloco2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"titulo"
	"cat1_titulo"
	"cat1"
	"cat2_titulo"
	"cat2"
	"cat3_titulo"
	"cat3";
}
.cat1_titulo {
	grid-area: cat1_titulo;
	display: flex;
	justify-content: center;
	background-color: white;
	border-style: solid;
	border-width: 0.1rem;
}
.cat2_titulo {
	grid-area: cat2_titulo;
	display: flex;
	justify-content: center;
	background-color: white;
	border-style: solid;
	border-width: 0.1rem;
}
.cat3_titulo {
	grid-area: cat3_titulo;
	display: flex;
	justify-content: center;
	background-color: white;
	border-style: solid;
	border-width: 0.1rem;
}