/* INDEX */

.tela {
	display: grid;
	grid-template: auto / 25% 25% 25% 25%;
	background-color: gold;
	grid-template-areas:
	"header . titulo titulo"
	"texto1 . cat1 cat1"
	"texto texto cat2 cat2"
	"texto texto cat3 cat3"
	"imagem imagem . ."
	"contato . . .";
}
.header {
	grid-area: header;
}
.img_menu {
	z-index: 1;
	border-style: solid;
	border-radius: 2rem;
	border-width: 0.1rem;
}
.img_perfil {
	z-index: 2;
	border-style: solid;
	border-radius: 4rem;
	border-width: 0.1rem;
}
.name {
	z-index: 0;
	border-style: solid;
	border-radius: 2rem;
	border-width: 0.1rem;
	background-color: gold;
}
.texto1 {
	background-color: white;
	grid-area: texto1;
}
.texto {
	background-color: white;
	grid-area: texto;
}
.imagem {
	grid-area: imagem;
}
.contato {
	grid-area: contato;
}
.cat1 {
	grid-area: cat1;
}
.cat2 {
	grid-area: cat2;
}
.cat3 {
	grid-area: cat3;
}
.cat4 {
	grid-area: cat4;
}
