.img_perfil {
  z-index: 3;

  border-style: solid;
  border-radius: 60rem;
  border-width: 0.1rem;

  margin: 0rem 0rem 0rem -2.8rem;
}
.img_index {
  z-index: 2;

  border-style: solid;
  border-radius: 30rem;
  border-width: 0.1rem;
}
.autor_name {
  z-index: 1;

  font-size: 3rem;
  display: inline-block;
  border-style: solid;
  border-radius: 30rem;
  border-width: 0.1rem;
  margin: -10rem 0rem 0rem -6rem;
  padding: 2rem 2rem 2rem 6rem;
  bottom: 5rem;
  background-color: gold;
}
.area_logo {
  grid-area: area_logo;
}
.titulo {
  grid-area: titulo;
  background-color: white;
}
.txt_categoria {
  grid-area: txt_categoria;
  background-color: cyan;
}
.projeto1 {
  grid-area: projeto1;
  background-color: green;
}
.projeto2 {
  grid-area: projeto2;
  background-color: red;
}
.projeto3 {
  grid-area: projeto3;
  background-color: blue;
}
.projeto4 {
  grid-area: projeto4;
  background-color: yellow;
}
.contato {
  grid-area: contato;
  background-color: orange;
}
.tela {
  background-color: gray;
  display: grid;
  grid-template-areas:

  "area_logo . titulo ."
  "img_categoria nome_categoria . ."
  "txt_categoria txt_categoria projeto1 projeto3"
  "txt_categoria txt_categoria projeto2 projeto4"
  "contato . . .";
}