CATEGORIA 
.imagem_cat_1{
	position: relative;
	left: 2000px;
}

.h2_b1_1{
	margin: 0px 0px 15px 0px;
	display: inline-block;	
	position: relative;
	bottom: 40px;
	left: 300px;
}

.categorias_1 {
	display: block;
	background-color: white;
	position: relative;
	border-radius: 70px;
	margin: 60px 20px 20px 20px;
	width: 370px;
	height: 140px;
}

.texto_cat_1 {
	display: inline-block;
	position: relative;
	width: 200px;
	bottom: 20px;
}

.titulo_cat_1 {
	display: inline-block;
	position: relative;
	background-color: white;
	border-radius: 30px;
	padding: 10px 10px 10px 10px;
	bottom : 180px;
	left : 60px;

}
.direita {
	position: relative;
	left: 450px;
	bottom: 398px;
}
