.header {
  background-color: #0d084c;
}

.link{
  color: #d5dfe2;
}

/* index.html */

.para-index{
  color: #0d084c;
}

.sections-menu-item-text-title{
  color: #0d084c;
}

/* secao.html */

.section-para{
  color:#0d084c;
}

.texto{
  color: #575e60;
}

.book-title {
  color:#0d084c;

}

.destaque{
  color: #0d084c;
}
